<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://mysql15.hostmaster.sk/do784507db"/>
        <property name="username" value="do784500"/>
        <property name="password" value="glavoika"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="trainingDataDatabaseAccessor"
          class="com.HaikuMasterTrainingDataProcessor.database.TrainingDataDatabaseAccessorImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="tokenizer" class="com.HaikuMasterTrainingDataProcessor.tokenizing.TokenizerImpl"/>

    <bean id="tagger" class="com.HaikuMasterTrainingDataProcessor.tagging.PosTaggerImpl"/>


    <bean id="sentencesProcessor" class="com.HaikuMasterTrainingDataProcessor.processor.SentencesProcessorImpl">
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="tagger"/>
    </bean>

    <bean id="reader" class="com.HaikuMasterTrainingDataProcessor.reader.TextReaderImpl"/>

    <bean id="writer" class="com.HaikuMasterTrainingDataProcessor.writer.TrainingDataWriterImpl"/>


    <bean id="sentenceFilter"
          class="com.HaikuMasterTrainingDataProcessor.preprocessor.filter.SentenceFilterImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>

    <bean id="trainingDataPreprocessor"
          class="com.HaikuMasterTrainingDataProcessor.preprocessor.TrainingDataPreprocessorImpl">
        <constructor-arg ref="reader"/>
        <constructor-arg ref="sentenceFilter"/>
        <constructor-arg ref="writer"/>
    </bean>


    <bean id="word2vecMatchTrainingRowFactory"
          class="com.HaikuMasterTrainingDataProcessor.word2vec.factory.Word2VecMatchTrainingRowFactoryImpl"/>

    <bean id="word2vecAnalyser" class="com.HaikuMasterTrainingDataProcessor.word2vec.analysis.Word2VecAnalyserImpl">
        <constructor-arg ref="sentencesProcessor"/>
    </bean>

    <bean id="haikuMasterTrainingDataProcessor"
          class="com.HaikuMasterTrainingDataProcessor.main.HaikuMasterTrainingDataProcessorImpl">
        <constructor-arg ref="trainingDataDatabaseAccessor"/>
        <constructor-arg ref="trainingDataPreprocessor"/>
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="writer"/>
        <constructor-arg ref="word2vecMatchTrainingRowFactory"/>
        <constructor-arg ref="word2vecAnalyser"/>
    </bean>

</beans>